.footer
    background: $black
    border-top: 1px solid $blue
    padding: 40px 0px
    position: relative
    z-index: 1
    .container, &__nav ul, &__links
        display: flex
        align-items: center
    .container
        justify-content: space-between
        gap: 20px
    &__nav 
        ul 
            list-style-type: none
            gap: 60px
    &__links 
        gap: 30px
        a 
            display: flex
            img 
                width: 32px
                min-width: 32px
                filter: brightness(0) invert(1)
                transition: 0.4s filter
            &:hover 
                img 
                    filter: none