.home
    &__promo
        min-height: 785px
        position: relative
        display: flex
        .circle
            top: 9%
            left: 28%
            z-index: 1
        .container
            display: flex
            flex: 1
            &::before
                content: ''
                width: calc(47.39vw + 50px)
                max-width: 960px
                left: 0
                top: 0
                z-index: 2
                height: 100%
                position: absolute
                backdrop-filter: blur(24px)
                background: linear-gradient(168deg, rgba(49, 52, 59, 0.4) 0%, rgba(43, 43, 43, 0.4) 100%)
                transform: translate3d(0, 0, 0)
                border-bottom: 1px solid rgba(255, 255, 255, 0.14)
        .page__block-title
            &:not(.mbn)
                margin-bottom: 18px
            h1 
                border-bottom: 1px dashed $white
                padding-bottom: 5px
        &-text 
            width: 47.39vw
            max-width: 910px
            padding-right: 5.72vw
            padding-top: 120px
            padding-bottom: 120px
            position: relative
            z-index: 3
            .text-wrap
                padding-left: 90px
            .half-text
                max-width: 300px
                color: rgba(255, 255, 255, 0.7)
                strong 
                    color: $white
            h3 
                border-bottom: 1px dashed $white
                padding-bottom: 5px
                margin-bottom: 18px
                width: fit-content
        &-info 
            flex: 1
            position: relative
            z-index: 3
        &-btn 
            display: flex
            align-items: center
            gap: 32px
            margin-top: 52px
        &-list 
            width: 240px
            max-width: 240px
            margin-left: auto
            &-item 
                backdrop-filter: blur(20px)
                background: rgba(43, 43, 45, 0.5)
                border: 1px solid rgba(255, 255, 255, 0.14)
                padding: 45px 20px
                .top 
                    display: block
                    margin-bottom: 13px
                .bott
                    opacity: 0.7
        &-image 
            position: absolute
            width: 72.18vw
            max-width: 1386px
            max-height: unset
            right: 0
            top: 50%
            transform: translateY(-50%)
            z-index: 0
            pointer-events: none
    &__contacts
        position: relative
        .container
            display: flex
            align-items: flex-start
        .circle
            left: 62%
            top: 46%
            transform: translate3d(-50%, -50%, 0)
            z-index: 1
        &-left
            max-width: 720px
            margin-right: 190px
            position: relative
            z-index: 3
            .text-wrap
                margin-left: 90px
                max-width: 360px
                letter-spacing: 0.04em
        .form 
            position: relative
            z-index: 3
        &-image 
            max-width: 616px
            width: 32.08vw
            position: absolute
            left: 39%
            top: 71%
            transform: translate(-50%, -50%)
            pointer-events: none
            max-width: unset
            z-index: 2
        &-back 
            position: absolute
            bottom: 0
            left: 50%
            transform: translate(-50%, 5%)
            max-height: unset
            max-width: 1920px
            width: 100vw
            pointer-events: none
    &__letters
        position: relative
        z-index: 1
        &-cards 
            &-item 
                display: flex
                align-items: center
                justify-content: center
                position: relative
                margin-right: 30px
                width: 22.5vw
                height: 31.56vw
                max-width: 432px
                max-height: 606px
                .img_bg
                    transition: 0.4s filter
                .loop
                    position: absolute
                    z-index: 1
                    transition: 0.4s opacity
                    pointer-events: none
                    width: 84px
                    opacity: 0
                &:hover 
                    .img_bg
                        filter: brightness(0.5)
                    .loop
                        opacity: 1
    &__work
        &-cards 
            display: grid
            grid-template: auto / repeat(4, 1fr)
            &.mobile 
                display: none
            &-col 
                &.col1 
                    padding-top: 200px
                &.col3
                    padding-top: 100px
                &.col4
                    padding-top: 300px
            &-item 
                padding: 30px 30px 172px
                backdrop-filter: blur(20px)
                background: rgba(43, 43, 45, 0.5)
                transform: translate3d(0, 0, 0)
                border: 1px solid rgba(255, 255, 255, 0.14)
                position: relative
                min-height: 412px
                .wrap
                    position: relative
                    z-index: 1
                .descr
                    opacity: 0.7
                .num 
                    color: rgba(255, 255, 255, 0.33)
                    margin-bottom: 32px
                strong
                    margin-bottom: 20px
                    display: block
                img 
                    position: absolute
                    right: 0
                    bottom: 0
                    z-index: 0
                    height: 142px
                    pointer-events: none
    &__portfolio
        position: relative
        &-wrap 
            z-index: 1
        .circle
            left: 50%
            top: 0
            transform: translate3d(-50%, 50%, 0)
        &-back 
            position: absolute
            pointer-events: none
            width: 100vw
            max-width: 1920px
            max-height: unset
            top: 0
            left: 50%
            transform: translateX(-50%)
        &-cards
            &-item
                display: flex
                align-items: flex-start
                gap: 50px
                margin-bottom: 50px
                &:last-child
                    margin-bottom: 0 !important
                .images, .slide
                    width: 54.63vw
                    height: 36.4vw
                    max-width: 1049px
                    max-height: 699px
                    position: relative
                .slider-list
                    width: 100%
                    height: 100%
                .text-wrap
                    flex: 1
                    &-head, &-block 
                        margin-bottom: 52px
                        &:last-child
                            margin-bottom: 0 !important
                    &-head 
                        span 
                            opacity: 0.7
                .slider-dots
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 100%
                    display: flex
                    align-items: center
                    gap: 20px
                    padding: 48px
                    span 
                        height: 4px
                        background: $white
                        width: 100%
                        transition: 0.4s background
                        background: rgba(255, 255, 255, 0.5)
                        cursor: pointer
                        &:hover, &.active
                            background: $color
    &__clients 
        &-call 
            display: flex
            align-items: center
            gap: 32px
        &-cards 
            display: flex
            align-items: center
            justify-content: space-between
            flex-wrap: wrap
            gap: 40px
            img 
                height: 7.81vw
                max-height: 150px
    &__cert 
        .container 
            display: flex
            align-items: flex-start
        &-back 
            position: absolute
            width: 48.9vw
            right: 8%
            top: 43%
            max-width: 939px
            max-height: unset
            transform: translateY(-50%)
            pointer-events: none
        .circle
            top: 50%
            right: 15%
            transform: translate3d(0, -50%, 0)
        &-left, &-image
            position: relative
            z-index: 2
        &-left 
            max-width: 800px
            margin-right: 100px
            .text-wrap 
                max-width: 350px
                margin-left: 300px
        &-image 
            width: 460px
            height: 657px
    &__about 
        border-bottom: 1px solid rgba(255, 255, 255, 0.14)
        .circle1
            top: 50%
            left: 53%
            transform: translateY(-50%)
        .home__promo
            &-text 
                padding-right: 15.62vw
            &-info 
                display: flex
                align-items: center
                justify-content: flex-end
                &::after 
                    content: ''
                    width: 240px
                    min-width: 240px
                    height: 100%
                    backdrop-filter: blur(24px)
                    background: linear-gradient(168deg, rgba(49, 52, 59, 0.4) 0%, rgba(43, 43, 43, 0.4) 100%)
                    transform: translate3d(0, 0, 0)
        &-tabs
            span 
                display: block
                width: fit-content
                min-width: 223px
                border: 1px solid rgba(255, 255, 255, 0.14)
                padding: 20px 30px
                transition: 0.4s all
                backdrop-filter: blur(24px)
                background: linear-gradient(168deg, rgba(49, 52, 59, 0.4) 0%, rgba(43, 43, 43, 0.4) 100%)
                transform: translate3d(0, 0, 0)
                cursor: pointer
                &:hover, &.active
                    color: $black
                    background: $white
        &-images 
            position: absolute
            z-index: 3
            left: 50%
            top: 55%
            transform: translate(-50%, -50%)
            width: 27.76vw
            height: 40.93vw
            max-width: 533px
            max-height: 786px
            pointer-events: none
            img 
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                transition: 0.5s opacity
                opacity: 0
                &.active
                    opacity: 1
    &__objects
        position: relative
        &-cards
            display: grid
            grid-template: auto / repeat(4, 1fr)
            &-col
                &.col2
                    margin-top: 200px
                &.col3
                    margin-top: 400px
            &-item
                margin-bottom: 150px
                &:last-child
                    margin-bottom: 0 !important
                .image
                    position: relative
                    width: 100%
                    height: 24.68vw
                    max-height: 474px
                    margin-bottom: 20px
                .text
                    strong 
                        display: block
                        margin-bottom: 5px
                    span 
                        opacity: 0.7
                &.big
                    .image
                        height: 49.37vw
                        max-height: 948px