*
    box-sizing: border-box
    margin: 0
    padding: 0
    -webkit-text-size-adjust: none
    &::-webkit-scrollbar
        width: 8px
        height: 5px
    &::-webkit-scrollbar-track
        background: $white
    &::-webkit-scrollbar-thumb 
        background-color: $color
body
    color: $white
    min-height: 100vh
    display: flex
    flex-direction: column
    line-height: 1.3
    font-family: 'Mulish', sans-serif
    background: $black
    font-size: 16px
    font-weight: 600
a 
    color: inherit
    text-decoration: none
    transition: 0.3s all
    &:not(.no-hover)
        &:hover, &.active
            color: $color
strong 
    font-weight: 700
html, body 
    &.fixed
        overflow: hidden
.page-wrap
    overflow: hidden
    display: flex
    flex-direction: column
    flex: 1
    position: relative
    padding-top: 40px
footer
    margin-top: auto
main 
    position: relative
    flex: 1
    z-index: 1
img, svg 
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto
    object-fit: contain
picture
    display: flex
.container
    position: relative
    margin: 0 auto
    width: 100%
    max-width: 1500px
    padding-right: 4.16vw
    padding-left: 4.16vw
.img
    &_bg
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 0
        pointer-events: none
.default-text
    h2, h3, h4, h5, h6, p, table, ul, ol
        &:last-child
            margin-bottom: 0 !important
        &:first-child
            margin-top: 0 !important
    h2
        margin-top: 30px
        margin-bottom: 20px
    h3, h4, h5, h6
        margin-top: 20px
        margin-bottom: 15px
    p, img 
        margin: 15px 0px
    img 
        margin-left: auto
        margin-right: auto
    table
        border-collapse: collapse
        width: 100%
        max-width: 100%
        margin: 20px 0px
        td 
            border: 1px solid $white
            padding: 10px
    ol, ul 
        margin: 20px 0px
        padding-left: 1em
    a 
        text-decoration: underline
.text_black
    table
        td 
            border: 1px solid $black
h1, h2, h3, h4, h5, h6 
    font-weight: 900
    font-family: 'Tablon', 'Mulish', sans-serif
    margin: 0
h1, h2
    font-size: 48px
    line-height: 1
h3
    font-size: 32px
    line-height: 1
h4 
    font-size: 24px
    line-height: 1
h5 
    font-size: 21px
h6 
    font-size: 16px
.text 
    &_normal
        font-style: normal
    &_italic
        font-style: italic
    &_center
        text-align: center
    &_right 
        text-align: right
    &_black
        color: $black
    &_white
        color: $white
    &_color 
        color: $color
    &_gray 
        color: $gray
    &_underline
        text-decoration: underline
    &_upper 
        text-transform: uppercase
    &_nowrap
        white-space: nowrap
    &_lbreak
        word-break: break-word
    &_lt
        text-decoration: line-through
    &_fw 
        &100
            font-weight: 100
        &200
            font-weight: 200
        &300
            font-weight: 300
        &400
            font-weight: 400
        &500
            font-weight: 500
        &600
            font-weight: 600
        &700
            font-weight: 700
        &800
            font-weight: 800
        &900
            font-weight: 900
    &_ff
        &Mulish 
            font-family: 'Mulish', sans-serif
        &Tablon
            font-family: 'Tablon', 'Mulish', sans-serif
    &_fz 
        &16
            font-size: 12px
        &21
            font-size: 16px
        &24
            font-size: 21px
        &32
            font-size: 24px
            line-height: 1
        &48
            font-size: 32px
            line-height: 1
        &72
            font-size: 48px
            line-height: 1
        &400
            font-size: 400px
            line-height: 1
.elem
    &_animate 
        transition: 1.4s all
        &:not(.opacity)
            transform: rotateX(90deg)
        &.opacity
            opacity: 0
            &.anim 
                opacity: 1
        &:not(.opacity)
            &.anim
                transform: rotateX(00deg)
        &.left, &.right, &.top, &.bott
            transition: 1.4s all
            opacity: 0
            &.anim 
                opacity: 1
        &.top
            transform: translate3d(0, 60px, 0)
            &.anim
                transform: translate3d(0, 0, 0)
        &.bott
            transform: translate3d(0, -60px, 0)
            &.anim
                transform: translate3d(0, 0, 0)
        &.right
            transform: translate3d(-60px, 0, 0)
            &.anim
                transform: translate3d(0, 0, 0)
        &.left
            transform: translate3d(60px, 0, 0)
            &.anim
                transform: translate3d(0, 0, 0)
        &.custom 
            transform: none
            &.anim 
                transform: none
.slider
    &-list
        user-select: none
        touch-action: pan-y
        -webkit-tap-highlight-color: transparent
        cursor: grab
        max-width: 100%
        overflow: hidden
        &.grabbing
            cursor: grabbing
    &-track 
        transition: transform 0.5s ease 0s
        display: flex
        width: fit-content
        &.fast 
            transition: none
            pointer-events: none
    &-arrows 
        display: flex
        align-items: center
        gap: 20px
        &-item 
            width: 64px
            height: 64px
            max-width: unset
            max-height: unset
            min-width: 64px
            cursor: pointer
.btn
    position: relative
    border: none
    background: none
    cursor: pointer
    width: 100%
    outline: none
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    padding: 34px
    font-family: 'Tablon', 'Mulish', sans-serif
    font-weight: 900
    text-transform: uppercase
    color: $white !important
    span
        position: relative
        z-index: 1
    img 
        position: absolute
        left: 50%
        transform: translate(-50%, 10%)
        bottom: 0
        width: 102%
        height: 155%
        max-width: unset
        max-height: unset
        pointer-events: none
        object-fit: fill
        z-index: 0
.air-datepicker
    background: $black
    border: 1px solid $violet
    border-radius: 0
    font-size: 16px
    color: $white
    &--pointer
        &:after
            border-top: 1px solid $violet
            border-right: 1px solid $violet
            border-radius: 0
            background: $black
    &-nav 
        border-bottom: none
        &--action
            border-radius: 0
            &:hover 
                background: rgb(6, 40, 41)
        &--title 
            border-radius: 0
            &:hover 
                background: rgb(6, 40, 41)
    &-body 
        &--day 
            &-name 
                font-size: 14px
                color: $violet
    &-cell
        border-radius: 0
        &.-focus-
            background: rgb(6, 40, 41)
        &.-current-
            color: $color !important
        &.-selected-
            background: $violet !important
            color: $white !important
        &.-day-
            &.-other-month-
                color: $gray
        &.-year-
            &.-other-decade
                color: $gray
    &-time 
        &--current
            &-hours, &-minutes
                &:after
                    background: rgb(6, 40, 41)