@font-face 
	font-family: 'Tablon'
	src: url('../fonts/Tablon/Tablon-black.eot')
	src: url('../fonts/Tablon/Tablon-black.eot?#iefix') format('embedded-opentype'), url('../fonts/Tablon/Tablon-black.woff2') format('woff2'), url('../fonts/Tablon/Tablon-black.woff') format('woff'), url('../fonts/Tablon/Tablon-black.ttf') format('truetype')
	font-weight: 900
	font-style: normal
	font-display: swap